APP_NAME=MisVales
APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
FRONTEND_URL=http://localhost:4200

APP_TIMEZONE=America/Monterrey
APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_MX

LOG_CHANNEL=null

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=misvales_testing
DB_USERNAME=postgres
DB_PASSWORD=
DB_SSLMODE=prefer

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array

FILESYSTEM_DISK=local
