APP_NAME=MisVales
APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
FRONTEND_URL=http://localhost:4200

APP_TIMEZONE=America/Monterrey
APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_MX

LOG_CHANNEL=null

DB_CONNECTION=mysql
DB_PRIMARY_HOST=127.0.0.1
DB_PRIMARY_PORT=3306
DB_PRIMARY_USERNAME=root
DB_PRIMARY_PASSWORD=
DB_REPLICA_HOST=127.0.0.1
DB_REPLICA_PORT=3306
DB_REPLICA_USERNAME=root
DB_REPLICA_PASSWORD=
DB_DATABASE=misvales_testing

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array

FILESYSTEM_DISK=local
