includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - tests
    level: 6
    tmpDir: storage/framework/cache/phpstan
